<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flat.paas.file.persistence.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.flat.paas.file.domain.FileInfo">
    <id column="FILE_ID" jdbcType="CHAR" property="fileId" />
    <result column="ORIGINAL_FILE" jdbcType="VARCHAR" property="originalFile" />
    <result column="FILEMD5" jdbcType="CHAR" property="filemd5" />
    <result column="ACTUAL_FILE_NAME" jdbcType="VARCHAR" property="actualFileName" />
  </resultMap>
  <sql id="Base_Column_List">
    FILE_ID, ORIGINAL_FILE, FILEMD5, ACTUAL_FILE_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TFT_FILE_INFO
    where FILE_ID = #{fileId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TFT_FILE_INFO
    where FILE_ID = #{fileId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.flat.paas.file.domain.FileInfo">
    insert into TFT_FILE_INFO (FILE_ID, ORIGINAL_FILE, FILEMD5, 
      ACTUAL_FILE_NAME)
    values (#{fileId,jdbcType=CHAR}, #{originalFile,jdbcType=VARCHAR}, #{filemd5,jdbcType=CHAR}, 
      #{actualFileName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.flat.paas.file.domain.FileInfo">
    insert into TFT_FILE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        FILE_ID,
      </if>
      <if test="originalFile != null">
        ORIGINAL_FILE,
      </if>
      <if test="filemd5 != null">
        FILEMD5,
      </if>
      <if test="actualFileName != null">
        ACTUAL_FILE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=CHAR},
      </if>
      <if test="originalFile != null">
        #{originalFile,jdbcType=VARCHAR},
      </if>
      <if test="filemd5 != null">
        #{filemd5,jdbcType=CHAR},
      </if>
      <if test="actualFileName != null">
        #{actualFileName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flat.paas.file.domain.FileInfo">
    update TFT_FILE_INFO
    <set>
      <if test="originalFile != null">
        ORIGINAL_FILE = #{originalFile,jdbcType=VARCHAR},
      </if>
      <if test="filemd5 != null">
        FILEMD5 = #{filemd5,jdbcType=CHAR},
      </if>
      <if test="actualFileName != null">
        ACTUAL_FILE_NAME = #{actualFileName,jdbcType=VARCHAR},
      </if>
    </set>
    where FILE_ID = #{fileId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flat.paas.file.domain.FileInfo">
    update TFT_FILE_INFO
    set ORIGINAL_FILE = #{originalFile,jdbcType=VARCHAR},
      FILEMD5 = #{filemd5,jdbcType=CHAR},
      ACTUAL_FILE_NAME = #{actualFileName,jdbcType=VARCHAR}
    where FILE_ID = #{fileId,jdbcType=CHAR}
  </update>
</mapper>